RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Provide long-lived cache headers for static assets (CSS, JS, images)
<filesMatch ".(jscsspngjpggifsvgwoffwoff2ttfotfico)$">
  Header set Cache-Control "max-age=31536000, public"
</filesMatch>

# Rewrite all requests that do not correspond to files to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]